@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Wildlife Education Foundation website!</h1>
    <p class="lead">CONSERVATION through EDUCATION.</p>
</div>
<div>
    <img src="https://binaryfortressdownloads.com/Download/WPF/Images/25638/WallpaperFusion-tiger-eyes-1680x480.jpg" style="position:center; width:1095px; height:250px; margin-left:10px;"/>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-4">
        <h2>Learn about our endangered species</h2>
        <p>
            As we strive to educate the public about our highly endangered species and teach them about conservation and what it means to us,
            you are able to take a look at our Animals section on our website which lists and teaches you some facts about some of the most rare and threatened
            species on our planet.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Play our game</h2>
        <p>
            We have come up with a fun and unique way for the public to make donations to our cause and many other projects similar to ours.
            We have developed a animal naming game which encourages you to learn all of the animals that are listed on our site, when you think you are ready
            you can play our game in order to earn credits which will then be convereted to a monetary donation, which you can then donate to the conservation project of
            your choice.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Make a donation</h2>
        <p>You can make a difference today by playing our game and making a donation to one of our affiliated projects in order to save lives and protect the animals on our planet.</p>
    </div>
</div>
<br />
<br />
<h2 style="text-align:center">DOCUMENTATION</h2>
<br />
<div id="demo" class="carousel slide" data-ride="carousel" style="text-align:center">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Images/Documentation/WEF Class diagram.jpg" alt="class diagram">
        </div>
        <div class="carousel-item">
            <img src="~/Images/Documentation/WEF Narrative 1.png" alt="narrative 1">
        </div>
        <div class="carousel-item">
            <img src="~/Images/Documentation/WEF narrative 3.png" alt="narrative 3">
        </div>
        <div class="carousel-item">
            <img src="~/Images/Documentation/WEF narrative 4.png" alt="narrative 4">
        </div>
        <div class="carousel-item">
            <img src="~/Images/Documentation/WEF narrative 5.png" alt="narrative 5">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>

<style>
    .carousel-control-prev-icon, .carousel-control-next-icon {
        
       
        background-color: rgba(0, 0, 0, 0.3);
        background-size: 100%, 100%;
        border: 2px solid black;
    }
</style>